---
import './styles.css'

import { Icon } from 'astro-icon/components'

interface Props {
    href: string
    title: string
    icon: string
}

const { href, title, icon } = Astro.props
---

<a target="_blank" href={href} class="link-button">
    <Icon class="link-button__icon" name={icon} />
    <span class="link-button__title">{title}</span>
</a>
