---
import './styles.css'

import { Icon } from 'astro-icon/components'

import Title from '../../components/Title/Title.astro'

import YouTubeCloneCardProject from '../../components/projects/YouTubeCloneCardProject/YouTubeCloneCardProject.astro'
import CutLinkXCardProject from '../../components/projects/CutLinkXCardProject/CutLinkXCardProject.astro'
import MasterEventPlannerCardProject from '../../components/projects/MasterEventPlannerCardProject/MasterEventPlannerCardProject.astro'

import { getLangFromUrl, useTranslations } from '../../i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<section class="projects-section" id="recent-projects">
    <Title>{t('nav.recent-projects')}</Title>

    <article>
        <CutLinkXCardProject />
        <YouTubeCloneCardProject />
        <MasterEventPlannerCardProject />

        <div class="show-more-projects">
            <div class="show-more-projects__circle"></div>
            <div class="show-more-projects__background"></div>
            <a class="show-more-projects__link" href="projects">
                <span>{t('projects-section.viewAllProjects')}</span>
                <Icon
                    class="show-more-projects__link__icon"
                    name="hugeicons:arrow-right-01"
                />
            </a>
        </div>
    </article>
</section>
