@import './components/badge.css';
@import './fonts.css';

:is(html.light) body {
    background-color: var(--col-light-50);
    color: var(--col-dark-main);
}

:is(html.dark) body {
    background-color: var(--col-dark-main);
    color: var(--col-white);
}

body {
    font-family: 'Montserrat';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    transition:
        background-color var(--theme-time-transition) ease-in-out,
        color var(--theme-time-transition) ease-in-out;
}

a {
    text-decoration: none;
    color: var(--col-white);
}
