:root {
    --col-white: #ffffff;

    --col-light-100: #f1f1f7;
    --col-light-80: #f7f7fa;
    --col-light-50: #fcfcff;

    --col-gray-700: #85858e;
    --col-gray-500: #9d9da9;
    --col-gray-100: #e3e3f3;

    --col-dark-main: #151517;
    --col-dark-850: #232326;
    --col-dark-300: #2b2b30;
    --col-dark-200: #36363b;
    --col-dark-850--rgb: 35, 35, 38;

    --col-primary-main: #4950e5;
    --col-primary-100: #eaebff;
    --col-primary-main--rgb: 73, 80, 229;

    --col-green-main: #17dc42;
    --col-green-100: #eefff2;
    --col-green-main--rgb: 23, 220, 66;

    --col-orange-main: #ffcd1e;
    --col-orange-main--rgb: 255, 205, 30;

    --col-youtube-background-main--dark: rgba(36, 36, 36, 0.8);
    --col-youtube-background-main--light: rgba(0, 0, 0, 0.06);

    --col-cut-link-background-main--dark: rgba(208, 219, 241, .1);
    --col-cut-link-background-main--light: rgba(208, 219, 241, .2);

    --theme-time-transition: 0.15s;

    --card-shadow-properties: 0px 3px 10px 0
}
