---
import { getLangFromUrl, useTranslations } from '../../i18n/utils'
import './styles.css'

import { Icon } from 'astro-icon/components'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<footer id="contact">
    <div class="contact-footer">
        <a class="contact-footer__go-top" href={`/${lang}/#home`}>
            Emerzon Javier Kolki Martinez
        </a>

        <div class="contact-footer__links">
            <a href="mailto:emerzonkolki@gmail.com" target="_blank">
                {t('hero-links.contact')}
                <Icon name="hugeicons:link-square-02" />
            </a>
            <a href="https://github.com/JasonCrk" target="_blank">
                GitHub <Icon name="hugeicons:link-square-02" />
            </a>
            <a
                href="https://linkedin.com/in/emerzonkolkimartinez"
                target="_blank"
            >
                LinkedIn <Icon name="hugeicons:link-square-02" />
            </a>
            <a href="/documents/text.pdf" target="_blank">
                CV <Icon name="hugeicons:document-attachment" />
            </a>
        </div>
    </div>

    <p class="copyright">
        &copy; Emerzon Javier Kolki Martinez (JasonCrk) - 2024
    </p>
</footer>
