---
import { Icon } from 'astro-icon/components'

import { getLangFromUrl, useTranslations } from '../../i18n/utils'

import './styles.css'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<div class="translate-container">
    <label for="translateButton" class="translate__button">
        <span style="display: none;">.</span>
        <Icon
            name="hugeicons:translate"
            class="translate__button__primary-icon"
        />
        <Icon
            name="hugeicons:arrow-down-01"
            class="translate__button__down_icon"
        />
        <input id="translateButton" type="checkbox" />
    </label>

    <menu class="translate__menu-languages">
        <a href="/es" class="language">🇵🇪 {t('translation.spanish')}</a>
        <a href="/en" class="language">🇺🇸 {t('translation.english')}</a>
    </menu>
</div>

<script is:inline lang="ts">
    document.addEventListener('DOMContentLoaded', () => {
        const $languageLinks = document.querySelectorAll(
            '.translate__menu-languages a',
        )
        const language = document.querySelector('html')?.getAttribute('lang')

        const $selectedLanguage = document.querySelector(
            `.translate__menu-languages a[href="/${language}"]`,
        )

        $languageLinks.forEach(link => link.classList.remove('active'))

        if ($selectedLanguage) {
            $selectedLanguage.classList.add('language-selected')
        }
    })
</script>
