---
import './styles.css'

import { Icon } from 'astro-icon/components'
---

<button class="translate_button">
    <Icon name="hugeicons:translate" class="translate_button__icon" />
    <Icon name="hugeicons:arrow-down-01" class="translate_button__down_icon" />
</button>
