---
import Navbar from '../components/Navbar/Navbar.astro'
import ToggleTheme from '../components/ToggleTheme/ToggleTheme.astro'
import TranslateMenuButton from '../components/TranslateMenuButton/TranslateMenuButton.astro'
import ContactFooter from '../sections/ContactFooter/ContactFooter.astro'

import { getLangFromUrl } from '../i18n/utils'

const lang = getLangFromUrl(Astro.url)
---

<html class="dark" lang={lang}>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Emerzon Kolki</title>
    </head>
    <body>
        <header>
            <TranslateMenuButton />
            <Navbar />
            <ToggleTheme />
        </header>

        <main>
            <div class="main-content">
                <slot />

                <ContactFooter />
            </div>
        </main>
    </body>
</html>

<script is:inline>
    const html = document.querySelector('html')

    const themeMode = window.localStorage.getItem('themeMode')

    if (themeMode === 'light') {
        html?.classList.add('light')
        html?.classList.remove('dark')
    } else if (themeMode === 'dark') {
        html?.classList.add('dark')
        html?.classList.remove('light')
    } else {
        const browserDarkScheme = window.matchMedia(
            '(prefers-color-scheme: dark)',
        ).matches

        if (browserDarkScheme) {
            html?.classList.add('dark')
            html?.classList.remove('light')
        } else {
            html?.classList.add('light')
            html?.classList.remove('dark')
        }
    }
</script>

<style is:global>
    @import '../styles/normalize.css';
    @import '../styles/global.css';
    @import '../styles/variables.css';

    header {
        top: 20px;
        left: 0px;
        width: 100%;
        padding-inline: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        z-index: 100;
    }

    main {
        display: flex;
        align-items: center;
        flex-direction: column;

        .main-content {
            width: 100%;
            max-width: 1000px;
        }
    }
</style>
